h1 {
    font-size: 36px;
    font-weight: bold;
    color: aliceblue;
    text-align: right;
    background-color: blue;
}

h2 {
    font-weight: bold;
    
}
input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px grey;
    margin-right: 10px;
    font-size: 16px;
}

.container {
   display: flex;
   justify-content: space-between;
}

.box {
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    margin: 10px;
    padding: 20px;
    line-height: 100px;
    text-align: center;
    border: 0cap;
}

